.footer {
    width: 100%;
    height: 180px;
    background: var(--aside-footer);
    border-top: 2px solid #1f1f2e;
    margin-top: 4rem;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 20px;
    }
}

.social {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;

    svg {
        width: 30px;
        height: auto;
        fill: orange;
        transition: 0.3s;

        &:hover {
            transform: scale(1.09);
        }
    }
}

@media (max-width: 768px) {

    .footer {
        height: 300px;

        h2 {
            font-size: 1.6rem;
        }
    }
    
}